
<div class="conta">
      <div class="navbar">
           <div class="logo">  <a>logo</a></div>
           <div class=" prof"><a href="">Espace prof </a> </div>

      </div>

      <div class="page1">
              <div class="txt" >
                   <p data-aos="fade-right"> we will make everything easy</p>
                   <a [routerLink]="['/register']" class="buttom">register</a>
                   <div class="page2">

                    <div class="circle" data-aos="fade-right">
                       <div class="txt-num">01</div>
                       <div class="txt-cir"> plannig</div>
                     </div>

                      <div class="circle" data-aos="fade-up">
                                   <div class="txt-num">02 </div>
                                   <div class="txt-cir"> commitment</div>
                      </div>



                          <div class="circle" data-aos="fade-left">
                               <div class="txt-num"> 03 </div>
                                  <div class="txt-cir"> success</div>


                           </div>

               </div>
              </div>

       </div>








<div class="page21">



</div>
<div class="footer-dark"><div class="container">
  <div class="row">


      <div class="col-md-6 item text">
          <h3>Company Name</h3>
          <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
      </div>
      <div class="col item social"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
  </div>
  <p class="copyright">Company Name © 2018</p>
</div>
</div>

 </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
