
.cc{
  background-color: #238ae6;
   display: grid;
 grid-template-rows: 1fr ;
 }
.container{
  margin-top: 7%;
  margin-bottom: 10%;

 }
.btnn
{


  text-decoration: none;
  color: white;


}
.div-btn{
  padding: 5px 30px 5px 30px;
  display:flex;
  border-radius: 25px;
  background-color: #238ae6;
  flex-wrap: none;
justify-content: center;


}

