<div class="cc">

  <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5 " >
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row" >

                    <div class="col-lg-7"style="margin: auto ;">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0 my-2">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6 my-2">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group my-2">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                    <select class="form-select mt-4 my-2 mb-3" aria-label="Default select example">
                                      <option selected>Level</option>
                                      <option value="1">1er année secondaire</option>
                                      <option value="1">2er année secondaire</option>
                                      <option value="1">3er année secondaire</option>
                                      <option value="1">Bac</option>

                                    </select>
                                </div>
<div  class="div-btn">  <a class="btnn" >
  Register Account
</a></div>



                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" >Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small"   [routerLink]="['/login']" >Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


  </div>

